
.documentItem{
    background-color: #F7F7F7;
    border-radius: 17px;
    padding: 23px 21px;
    width: 100%;   
}

.documentItem:hover{
    background-color: #EFEFEF;
}

.documentItem > *:not(:last-child){
    margin-bottom: 19px;
}

.documentItem-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.documentItem-title{
    color: #4B4B4B;
    font-size: 17px;
    font-weight: 700;
}

.documentItem-fields{
    color: #8F8F8F;
    font-size: 15px;
    font-weight: 700;
}

.documentItem-fields span{
    color: #4B4B4B;
    font-weight: 700;
}

.documentItem-link{
    text-decoration: none;
}