.fieldPtsOrStsView{
    background-color: #E3EAF1;
    border-radius: 17px;
    width: 605px;
    height: 229px;
    padding: 34px 20px;
}

.fieldPtsOrStsView > *:not(:last-child){
    margin-bottom: 25px;
}

.fieldsSeriesAndNumberView{
    display: flex;
    gap: 54px;
}

.fieldView-title{
    color: #4B4B4B;
    font-size: 15px;
    font-weight: 500;
}

.fieldView-input{
    height: 38px;
    border: none;
    width: 218px;
    border-radius: 8px;
    font-size: 15px;
    color: #4B4B4B;
    font-weight: 700;
    padding: 0 0 0 17px;
}

._fieldView > *:not(:last-child){
    margin-bottom: 11px;
}

/********* MOBILE **********/
@media (max-width: 576px) {
    .fieldPtsOrStsView{
        width: 330px;
    }

    .fieldView-title{
        font-size: 12px;
    }

    .fieldView-input{
        width: 130px;
        font-size: 12px;
    }

    .fieldsSeriesAndNumberView{
        gap: 26px;
    }
}