.imgFile{
    width: 301px;
    height: 398px;
    border: none;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
}

.imgFileContainer__img, .imgFileContainer{
    width: inherit;
    height: inherit;
    border-radius: 17px;
}

.imgFileEmpty{
    width: 301px;
    height: 398px;
    border: 1px solid #8A8A8A;
    border-radius: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #EFF5FF;
}

/********* MOBILE **********/
@media (max-width: 576px) {
    .imgFile{
        width: 330px;
        height: 231px;
        border-radius: 17px;
    }

    .imgFileEmpty{
        width: 330px;
        height: 231px;
        border-radius: 17px;
    }
}