.documentView__form{
    margin: 39px 0 0 0;
    display: flex;
    gap: 94px;
}

.documentView__title{
    display: flex;
    align-items: center;
    gap: 16px;
}

.documentView__title-text{
    color: #4B4B4B;
    font-size: 27px;
    font-weight: 700;
}

.documentView__title img{
    transform: rotate(180deg);
}

.documentView__title img:hover{
    filter: sepia(1) hue-rotate(320deg) saturate(10);
}

.documentView-form__image > *:not(:last-child){
    margin-bottom: 36px;
}

.documentNotFound{
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}